<a href="https://colab.research.google.com/github/cjfergie/Analyzing-City-Data-In-R/blob/main/AAPL_Stock_Econometric_Models_and_Analysis_Using_Alpha_Wave_Data_APIs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup as bs
import numpy as np
import pandas as pd
import pandas_datareader as dr
import matplotlib.pyplot as pt
import datetime
import requests
import json

Earnings History

In [ ]:
import requests

url = "https://stock-analysis.p.rapidapi.com/api/v1/resources/earnings-history"

querystring = {"ticker":"AAPL"}

headers = {
	"X-RapidAPI-Key": "c49424df8fmsh300d7825be010adp16810bjsnfb16df37bbbe",
	"X-RapidAPI-Host": "stock-analysis.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

response

{'29/06/2022': {'Actual EPS': '1.2', 'Difference': '0.04', 'Est. EPS': '1.16', 'Surprise %': '3.40%'}, '29/09/2022': {'Actual EPS': '1.29', 'Difference': '0.02', 'Est. EPS': '1.27', 'Surprise %': '1.60%'}, '30/03/2023': {'Actual EPS': '1.52', 'Difference': '0.09', 'Est. EPS': '1.43', 'Surprise %': '6.30%'}, '30/12/2022': {'Actual EPS': '1.88', 'Difference': '-0.06', 'Est. EPS': '1.94', 'Surprise %': '-3.10%'}}

Create Stats Data Frane for Earnings History

In [ ]:
stats_df = pd.DataFrame.from_dict(response.json())
stats_df = stats_df.transpose()
stats_df

           Actual EPS Difference Est. EPS Surprise %
29/06/2022        1.2       0.04     1.16      3.40%
29/09/2022       1.29       0.02     1.27      1.60%
30/03/2023       1.52       0.09     1.43      6.30%
30/12/2022       1.88      -0.06     1.94     -3.10%

Growth Estimate

In [ ]:
import requests

url = "https://stock-analysis.p.rapidapi.com/api/v1/resources/growth-estimate"

querystring = {"ticker":"AAPL"}

headers = {
	"X-RapidAPI-Key": "c49424df8fmsh300d7825be010adp16810bjsnfb16df37bbbe",
	"X-RapidAPI-Host": "stock-analysis.p.rapidapi.com"
}

g_estimate = requests.get(url, headers=headers, params=querystring)

print(g_estimate.json())

{'AAPL': {'Current qtr.': '-0.80', 'Current year': '-2.30', 'Next 5 years (per annum)': '8.02', 'Next qtr.': '5.40', 'Next year': '9.50', 'Past 5 years (per annum)': '23.64'}, 'Industry': {'Current qtr.': 0.0, 'Current year': 0.0, 'Next 5 years (per annum)': 0.0, 'Next qtr.': 0.0, 'Next year': 0.0, 'Past 5 years (per annum)': 0.0}, 'S&P 500': {'Current qtr.': 0.0, 'Current year': 0.0, 'Next 5 years (per annum)': 0.0, 'Next qtr.': 0.0, 'Next year': 0.0, 'Past 5 years (per annum)': 0.0}, 'Sector(s)': {'Current qtr.': 0.0, 'Current year': 0.0, 'Next 5 years (per annum)': 0.0, 'Next qtr.': 0.0, 'Next year': 0.0, 'Past 5 years (per annum)': 0.0}}

Create Data Frame for Growth Estimate

In [ ]:
# Create Key Statistics DataFrame
stats_df = pd.DataFrame.from_dict(g_estimate.json())
stats_df = stats_df.transpose()
stats_df

,Current qtr.,Current year,Next 5 years (per annum),Next qtr.,Next year,Past 5 years (per annum)
AAPL,-0.80,-2.30,8.02,5.40,9.50,23.64
Industry,0.0,0.0,0.0,0.0,0.0,0.0
S&P 500,0.0,0.0,0.0,0.0,0.0,0.0
Sector(s),0.0,0.0,0.0,0.0,0.0,0.0

Calculating Firm's Free Cash Flow:

Extracting Cash Flow Statements

In [ ]:
import requests

url = "https://financial-statements.p.rapidapi.com/api/v1/resources/cash-flow"

querystring = {"ticker":"AAPL"}

headers = {
	"X-RapidAPI-Key": "c49424df8fmsh300d7825be010adp16810bjsnfb16df37bbbe",
	"X-RapidAPI-Host": "financial-statements.p.rapidapi.com"
}

cash_flow = requests.get(url, headers=headers, params=querystring)

print(cash_flow.json())

# Create Cash Flow Statement DataFrame
cash_flow_df = pd.DataFrame.from_dict(cash_flow.json())
cash_flow_df = cash_flow_df.drop('ttm', axis = 1)
cash_flow_df

{'9/30/2019': {'Capital Expenditure': '-10495000', 'End Cash Position': '50224000', 'Financing Cash Flow': '-90976000', 'Free Cash Flow': '58896000', 'Income Tax Paid Supplemental Data': '15263000', 'Interest Paid Supplemental Data': '3423000', 'Investing Cash Flow': '45896000', 'Issuance of Capital Stock': '781000', 'Issuance of Debt': '6963000', 'Operating Cash Flow': '69391000', 'Repayment of Debt': '-8805000', 'Repurchase of Capital Stock': '-66897000'}, '9/30/2020': {'Capital Expenditure': '-7309000', 'End Cash Position': '39789000', 'Financing Cash Flow': '-86820000', 'Free Cash Flow': '73365000', 'Income Tax Paid Supplemental Data': '9501000', 'Interest Paid Supplemental Data': '3002000', 'Investing Cash Flow': '-4289000', 'Issuance of Capital Stock': '880000', 'Issuance of Debt': '16091000', 'Operating Cash Flow': '80674000', 'Repayment of Debt': '-13592000', 'Repurchase of Capital Stock': '-72358000'}, '9/30/2021': {'Capital Expenditure': '-11085000', 'End Cash Position': '35929000', 'Financing Cash Flow': '-93353000', 'Free Cash Flow': '92953000', 'Income Tax Paid Supplemental Data': '25385000', 'Interest Paid Supplemental Data': '2687000', 'Investing Cash Flow': '-14545000', 'Issuance of Capital Stock': '1105000', 'Issuance of Debt': '20393000', 'Operating Cash Flow': '104038000', 'Repayment of Debt': '-8750000', 'Repurchase of Capital Stock': '-85971000'}, '9/30/2022': {'Capital Expenditure': '-10708000', 'End Cash Position': '24977000', 'Financing Cash Flow': '-110749000', 'Free Cash Flow': '111443000', 'Income Tax Paid Supplemental Data': '19573000', 'Interest Paid Supplemental Data': '2865000', 'Investing Cash Flow': '-22354000', 'Issuance of Capital Stock': None, 'Issuance of Debt': '9420000', 'Operating Cash Flow': '122151000', 'Repayment of Debt': '-9543000', 'Repurchase of Capital Stock': '-89402000'}, 'ttm': {'Capital Expenditure': '-11692000', 'End Cash Position': '21974000', 'Financing Cash Flow': '-118153000', 'Free Cash Flow': '97498000', 'Income Tax Paid Supplemental Data': '15166000', 'Interest Paid Supplemental Data': '3037000', 'Investing Cash Flow': '-7693000', 'Issuance of Capital Stock': None, 'Issuance of Debt': None, 'Operating Cash Flow': '109190000', 'Repayment of Debt': '-18158000', 'Repurchase of Capital Stock': '-88399000'}}

                                   9/30/2019  9/30/2020  9/30/2021   9/30/2022
Capital Expenditure                -10495000   -7309000  -11085000   -10708000
End Cash Position                   50224000   39789000   35929000    24977000
Financing Cash Flow                -90976000  -86820000  -93353000  -110749000
Free Cash Flow                      58896000   73365000   92953000   111443000
Income Tax Paid Supplemental Data   15263000    9501000   25385000    19573000
Interest Paid Supplemental Data      3423000    3002000    2687000     2865000
Investing Cash Flow                 45896000   -4289000  -14545000   -22354000
Issuance of Capital Stock             781000     880000    1105000        None
Issuance of Debt                     6963000   16091000   20393000     9420000
Operating Cash Flow                 69391000   80674000  104038000   122151000
Repayment of Debt                   -8805000  -13592000   -8750000    -9543000
Repurchase of Capital Stock        -66897000  -72358000  -85971000   -89402000

Extracting Income Statement

In [ ]:
import requests

url = "https://financial-statements.p.rapidapi.com/api/v1/resources/income-statement"

querystring = {"ticker":"AAPL"}

headers = {
	"X-RapidAPI-Key": "c49424df8fmsh300d7825be010adp16810bjsnfb16df37bbbe",
	"X-RapidAPI-Host": "financial-statements.p.rapidapi.com"
}

inc_stat = requests.get(url, headers=headers, params=querystring)

print(inc_stat.json())

# Create Income Statement DataFrame
inc_stat_df = pd.DataFrame.from_dict(inc_stat.json())
inc_stat_df = inc_stat_df.drop('ttm', axis = 1)
inc_stat_df

{'9/30/2019': {'Basic Average Shares': '18471336', 'Cost of Revenue': '161782000', 'Diluted Average Shares': '18595652', 'Diluted NI Available to Com Stockholders': '55256000', 'EBIT': '63930000', 'Gross Profit': '98392000', 'Interest Expense': '3576000', 'Interest Income': '4961000', 'Net Income Common Stockholders': '55256000', 'Net Income from Continuing & Discontinued Operation': '55256000', 'Net Income from Continuing Operation Net Minority Interest': '55256000', 'Net Interest Income': '1385000', 'Net Non Operating Interest Income Expense': '1385000', 'Normalized EBITDA': '76477000', 'Normalized Income': '55256000', 'Operating Expense': '34462000', 'Operating Income': '63930000', 'Other Income Expense': '1807000', 'Pretax Income': '65737000', 'Reconciled Cost of Revenue': '161782000', 'Reconciled Depreciation': '12547000', 'Tax Effect of Unusual Items': '0', 'Tax Provision': '10481000', 'Tax Rate for Calcs': '0', 'Total Expenses': '196244000', 'Total Operating Income as Reported': '63930000', 'Total Revenue': '260174000'}, '9/30/2020': {'Basic Average Shares': '17352119', 'Cost of Revenue': '169559000', 'Diluted Average Shares': '17528214', 'Diluted NI Available to Com Stockholders': '57411000', 'EBIT': '66288000', 'Gross Profit': '104956000', 'Interest Expense': '2873000', 'Interest Income': '3763000', 'Net Income Common Stockholders': '57411000', 'Net Income from Continuing & Discontinued Operation': '57411000', 'Net Income from Continuing Operation Net Minority Interest': '57411000', 'Net Interest Income': '890000', 'Net Non Operating Interest Income Expense': '890000', 'Normalized EBITDA': '77344000', 'Normalized Income': '57411000', 'Operating Expense': '38668000', 'Operating Income': '66288000', 'Other Income Expense': '803000', 'Pretax Income': '67091000', 'Reconciled Cost of Revenue': '169559000', 'Reconciled Depreciation': '11056000', 'Tax Effect of Unusual Items': '0', 'Tax Provision': '9680000', 'Tax Rate for Calcs': '0', 'Total Expenses': '208227000', 'Total Operating Income as Reported': '66288000', 'Total Revenue': '274515000'}, '9/30/2021': {'Basic Average Shares': '16701272', 'Cost of Revenue': '212981000', 'Diluted Average Shares': '16864919', 'Diluted NI Available to Com Stockholders': '94680000', 'EBIT': '108949000', 'Gross Profit': '152836000', 'Interest Expense': '2645000', 'Interest Income': '2843000', 'Net Income Common Stockholders': '94680000', 'Net Income from Continuing & Discontinued Operation': '94680000', 'Net Income from Continuing Operation Net Minority Interest': '94680000', 'Net Interest Income': '198000', 'Net Non Operating Interest Income Expense': '198000', 'Normalized EBITDA': '120233000', 'Normalized Income': '94680000', 'Operating Expense': '43887000', 'Operating Income': '108949000', 'Other Income Expense': '258000', 'Pretax Income': '109207000', 'Reconciled Cost of Revenue': '212981000', 'Reconciled Depreciation': '11284000', 'Tax Effect of Unusual Items': '0', 'Tax Provision': '14527000', 'Tax Rate for Calcs': '0', 'Total Expenses': '256868000', 'Total Operating Income as Reported': '108949000', 'Total Revenue': '365817000'}, '9/30/2022': {'Basic Average Shares': '16215963', 'Cost of Revenue': '223546000', 'Diluted Average Shares': '16325819', 'Diluted NI Available to Com Stockholders': '99803000', 'EBIT': '119437000', 'Gross Profit': '170782000', 'Interest Expense': '2931000', 'Interest Income': '2825000', 'Net Income Common Stockholders': '99803000', 'Net Income from Continuing & Discontinued Operation': '99803000', 'Net Income from Continuing Operation Net Minority Interest': '99803000', 'Net Interest Income': '-106000', 'Net Non Operating Interest Income Expense': '-106000', 'Normalized EBITDA': '130541000', 'Normalized Income': '99803000', 'Operating Expense': '51345000', 'Operating Income': '119437000', 'Other Income Expense': '-334000', 'Pretax Income': '119103000', 'Reconciled Cost of Revenue': '223546000', 'Reconciled Depreciation': '11104000', 'Tax Effect of Unusual Items': '0', 'Tax Provision': '19300000', 'Tax Rate for Calcs': '0', 'Total Expenses': '274891000', 'Total Operating Income as Reported': '119437000', 'Total Revenue': '394328000'}, 'ttm': {'Basic Average Shares': None, 'Cost of Revenue': '220666000', 'Diluted Average Shares': None, 'Diluted NI Available to Com Stockholders': '95171000', 'EBIT': '116725000', 'Gross Profit': '166871000', 'Interest Expense': '3240000', 'Interest Income': '3043000', 'Net Income Common Stockholders': '95171000', 'Net Income from Continuing & Discontinued Operation': '95171000', 'Net Income from Continuing Operation Net Minority Interest': '95171000', 'Net Interest Income': '-197000', 'Net Non Operating Interest Income Expense': '-197000', 'Normalized EBITDA': '128048000', 'Normalized Income': '95171000', 'Operating Expense': '52906000', 'Operating Income': '113965000', 'Other Income Expense': '-283000', 'Pretax Income': '113485000', 'Reconciled Cost of Revenue': '220666000', 'Reconciled Depreciation': '11323000', 'Tax Effect of Unusual Items': '0', 'Tax Provision': '18314000', 'Tax Rate for Calcs': '0', 'Total Expenses': '273572000', 'Total Operating Income as Reported': '113965000', 'Total Revenue': '387537000'}}

,9/30/2019,9/30/2020,9/30/2021,9/30/2022
Basic Average Shares,18471336,17352119,16701272,16215963
Cost of Revenue,161782000,169559000,212981000,223546000
Diluted Average Shares,18595652,17528214,16864919,16325819
Diluted NI Available to Com Stockholders,55256000,57411000,94680000,99803000
EBIT,63930000,66288000,108949000,119437000
Gross Profit,98392000,104956000,152836000,170782000
Interest Expense,3576000,2873000,2645000,2931000
Interest Income,4961000,3763000,2843000,2825000
Net Income Common Stockholders,55256000,57411000,94680000,99803000
Net Income from Continuing & Discontinued Operation,55256000,57411000,94680000,99803000
Net Income from Continuing Operation Net Minority Interest,55256000,57411000,94680000,99803000
Net Interest Income,1385000,890000,198000,-106000
Net Non Operating Interest Income Expense,1385000,890000,198000,-106000
Normalized EBITDA,76477000,77344000,120233000,130541000
Normalized Income,55256000,57411000,94680000,99803000
Operating Expense,34462000,38668000,43887000,51345000
Operating Income,63930000,66288000,108949000,119437000
Other Income Expense,1807000,803000,258000,-334000
Pretax Income,65737000,67091000,109207000,119103000
Reconciled Cost of Revenue,161782000,169559000,212981000,223546000
Reconciled Depreciation,12547000,11056000,11284000,11104000
Tax Effect of Unusual Items,0,0,0,0
Tax Provision,10481000,9680000,14527000,19300000
Tax Rate for Calcs,0,0,0,0
Total Expenses,196244000,208227000,256868000,274891000
Total Operating Income as Reported,63930000,66288000,108949000,119437000
Total Revenue,260174000,274515000,365817000,394328000

Using income statement and cash flow for calculation of free cash flow of firm (FCFF), 

Using, 

    FCFF = Free Cash Flow + Income Statement*(1 - Effecttive Tax Rate)

In [ ]:
#Calculating FCFF using income statement and cash flow statement
fcff = (cash_flow_df.loc['Free Cash Flow'].astype(int) \
        + inc_stat_df.loc['Interest Expense'].astype(int) \
        *(1 - inc_stat_df.loc['Tax Provision'].astype(int) \
          / inc_stat_df.loc['Pretax Income'].astype(int))).astype(int)

#Creating Pandas Data Frame
fcff_df = fcff.to_frame().transpose()
fcff_df

   9/30/2019  9/30/2020  9/30/2021  9/30/2022
0   61901848   75823478   95246155  113899047

Determining the CAGR and long term growth rate to be used in forecasting FCFF

In [ ]:
#CAGR of fcff
latest_fcff = float(fcff_df.iloc[0, len(fcff_df.columns) - 1])
earliest_fcff = float(fcff_df.iloc[0, 1])

fcff_cash_flow_cagr = (latest_fcff/earliest_fcff)**(float(1/(len(fcff_df.columns)-2))) - 1

fcff_cash_flow_cagr

0.22562664641678354

In [ ]:
#Constant Expected Growth Rate
long_term_growth = fcff_cash_flow_cagr/2
long_term_growth

0.11281332320839177

In [ ]:
#forecasted fcff
forecast_fcff_df = pd.DataFrame(columns=['Year ' + str(i) for i in range(1,7)])
fcff_forecast_lst = []
for i in range(1,7):
    if i != 6:
        fcff_forecast = latest_fcff*(1+fcff_cash_flow_cagr)**i
    else:
        fcff_forecast = latest_fcff*(1+fcff_cash_flow_cagr)\
                                        **(i-1)*(1+long_term_growth)
    fcff_forecast_lst.append(int(fcff_forecast))
forecast_fcff_df.loc[0] = fcff_forecast_lst
forecast_fcff_df

      Year 1     Year 2     Year 3     Year 4     Year 5     Year 6
0  139597707  171094669  209698185  257011684  315000368  350536607

In [ ]:
#forecasted fcff
forecasted_fcff_df = pd.DataFrame(columns=['Year ' + str(i) for i in range(1, 7)])
fcff_forecast_lst = []
for i in range (1, 7):
  if i !=6:
      fcff_forecast = latest_fcff*(1+fcff_cash_flow_cagr)**i
  else:
      fcff_forecast = latest_fcff*(1+fcff_cash_flow_cagr)\
                                      **(i-1)*(1+long_term_growth)
  fcff_forecast_lst.append(int(fcff_forecast))
forecasted_fcff_df.loc[0] = fcff_forecast_lst
forecasted_fcff_df

      Year 1     Year 2     Year 3     Year 4     Year 5     Year 6
0  139597707  171094669  209698185  257011684  315000368  350536607

Having forecasted FCFF for the 6 years ahead and retained the growth rate, the weighted average cost of capital (WACC) is now calculated for the second stage/two-stage valuation model.

This is achieved using,

WACC = (equity to capital ratio * required return on equity) + (debt to capital ratio * after tax required return on debt)

That is, 

$$WACC$$ 
\
\
$$   =   $$ 


\
$$\frac{E}{E+D}r_e\ +\ \frac{D}{E+D}r_d(1\ -\ tax\ rate)$$<br>

$where,$

$E = market\ value\ of\ equity$<br>
$D = market\ value\ of\ debt$<br>
$r_e = required\ return\ on\ equity$<br>
$r_d = required\ return\ on\ debt$<br>
$tax\ rate = effective\ tax\ rate$<br>
\
\
Using the balance sheet from Alpha Wave Data Financial API and the key statistics from Alpha Wave Data Stock Analysis API, the required data can be extracted for determining the WACC.

In [ ]:
#Extracting Balance Sheet
import requests

url = "https://financial-statements.p.rapidapi.com/api/v1/resources/balance-sheet"

querystring = {"ticker":"AAPL"}

headers = {
	"X-RapidAPI-Key": "c49424df8fmsh300d7825be010adp16810bjsnfb16df37bbbe",
	"X-RapidAPI-Host": "financial-statements.p.rapidapi.com"
}

balance_sheet = requests.get(url, headers=headers, params=querystring)

balance_sheet.json()

# Creating Balance Sheet DataFrame
balance_sheet_df = pd.DataFrame.from_dict(balance_sheet.json())
balance_sheet_df

,9/30/2019,9/30/2020,9/30/2021,9/30/2022
Common Stock Equity,90488000,65339000,63090000,50672000
Invested Capital,198535000,177775000,187809000,170741000
Net Debt,59203000,74420000,89779000,96423000
Net Tangible Assets,90488000,65339000,63090000,50672000
Ordinary Shares Number,17772944,16976763,16426786,15943425
Share Issued,17772944,16976763,16426786,15943425
Tangible Book Value,90488000,65339000,63090000,50672000
Total Assets,338516000,323888000,351002000,352755000
Total Capitalization,182295000,164006000,172196000,149631000
Total Debt,108047000,112436000,124719000,120069000
Total Equity Gross Minority Interest,90488000,65339000,63090000,50672000
Total Liabilities Net Minority Interest,248028000,258549000,287912000,302083000
Working Capital,57101000,38321000,9355000,-18577000

In [ ]:
#Extracting Key Statistics
import requests

url = "https://stock-analysis.p.rapidapi.com/api/v1/resources/key-stats"

querystring = {"ticker":"AAPL"}

headers = {
	"X-RapidAPI-Key": "c49424df8fmsh300d7825be010adp16810bjsnfb16df37bbbe",
	"X-RapidAPI-Host": "stock-analysis.p.rapidapi.com"
}

key_stats = requests.get(url, headers=headers, params=querystring)

key_stats.json()

# Creating Key Statistics DataFrame
key_stats_df = pd.DataFrame.from_dict(key_stats.json())
key_stats_df = key_stats_df.transpose()
key_stats_df

                                                     Value
% held by insiders                                   0.07%
% held by institutions                              61.23%
200-day moving average                              152.25
5-year average dividend yield                         0.92
50-day moving average                               165.84
52-week change                                      19.52%
52-week high                                        176.39
52-week low                                         124.17
Avg vol (10-day)                                    49.29M
Avg vol (3-month)                                   57.97M
Beta (5Y monthly)                                     1.30
Book value per share (mrq)                            3.95
Current ratio (mrq)                                   0.94
Diluted EPS (ttm)                                     5.89
Dividend date                                  17 May 2023
EBITDA                                             123.79B
Enterprise value                                     2.68T
Enterprise value/EBITDA                              21.40
Enterprise value/revenue                              6.95
Ex-dividend date                               11 May 2023
Fiscal year ends                              23 Sept 2022
Float                                               15.71B
Forward P/E                                          28.49
Forward annual dividend rate                          0.96
Forward annual dividend yield                        0.56%
Gross profit (ttm)                                 170.78B
Implied shares outstanding                          15.73B
Last split date                                30 Aug 2020
Last split factor                                      4:1
Levered free cash flow (ttm)                         83.8B
Market cap (intra-day)                               2.62T
Most-recent quarter (mrq)                      31 Mar 2023
Net income avi to common (ttm)                      94.32B
Operating cash flow (ttm)                          109.58B
Operating margin (ttm)                              29.16%
PEG Ratio (5 yr expected)                             2.85
Payout ratio                                        15.59%
Price/book (mrq)                                     46.70
Price/sales (ttm)                                     6.99
Profit margin                                       24.49%
Quarterly earnings growth (yoy)                     -3.40%
Quarterly revenue growth (yoy)                      -2.50%
Return on assets (ttm)                              20.56%
Return on equity (ttm)                             145.60%
Revenue (ttm)                                       385.1B
Revenue per share (ttm)                              24.12
S&P500 52-week change                                1.41%
Shares outstanding                                  15.73B
Shares short (14 May 2023)                         109.88M
Shares short (prior month 13 Apr 2023)             114.99M
Short % of float (14 May 2023)                       0.70%
Short % of shares outstanding (14 May 2023)          0.70%
Short ratio (14 May 2023)                                2
Total cash (mrq)                                    55.87B
Total cash per share (mrq)                            3.55
Total debt (mrq)                                   109.61B
Total debt/equity (mrq)                             176.35
Trailing P/E                                         28.43
Trailing annual dividend rate                         0.92
Trailing annual dividend yield                       0.54%

Estimating return on equity using the Capital Asset Pricing Model (CAPM),

$$r_e = r_f\ +\ (*MRP)$$<br>


\
where,
\
$r_e = required\ return\ on\ equity$<br>
$r_f = risk\ free\ rate$<br>
$ = beta$<br>
$MRP = market\ risk\ premium$<br>

Aquiring the risk free rate using 10 year Treasury Bond

In [ ]:
# Risk-free Rate
timespan = 100
current_date = datetime.date.today()
past_date = current_date-datetime.timedelta(days=timespan)
risk_free_rate_df = dr.DataReader(['^TNX'], ['yahoo'], [past_date], [current_date]) 
risk_free_rate = (risk_free_rate_df.iloc[len(risk_free_rate_df)-1,5])/100
risk_free_rate

NotImplementedError: ignored

In [ ]:
# Risk-free Rate
timespan = 100
current_date = datetime.date.today()
past_date = current_date-datetime.timedelta(days=timespan)
risk_free_rate_df = dr.DataReader("TNX", "yahoo", past_date, current_date) 
risk_free_rate = (risk_free_rate_df.iloc[len(risk_free_rate_df)-1,5])/100
risk_free_rate

TypeError: ignored

In [ ]:
#Taking the Risk Free Rate As:
risk_free_rate = 0.00893

In [ ]:
#Aquiring Stock's Beta
equity_beta = float(key_stats_df.loc[r'Beta (5Y monthly)'])
equity_beta

1.3

In [ ]:
#Estimating market premium using https://seekingalpha.com/article/4571595-data-update-2-for-2023-rocky-year-equities
market_risk_premium = 5.94

In [ ]:
#Calculating required return on equity using CAPM
equity_return = risk_free_rate + (equity_beta*market_risk_premium)
equity_return

7.730930000000001

Estimating Required Return On Debt

In [ ]:
#Interest Expense
interest_expense = inc_stat_df.loc['Interest Expense']
interest_exp_df = interest_expense.to_frame().transpose()
interest_exp_str = interest_exp_df.values[0][-1:]
interest_exp_int = int(interest_exp_str)

#Total debt
total_debt = balance_sheet_df.loc['Total Debt']
total_debt_df = total_debt.to_frame().transpose()
total_debt_str = total_debt_df.values[0][-1:]
total_debt_int = int(total_debt_str)

#Required Return On Debt
debt_return = interest_exp_int/total_debt_int
debt_return

0.024410963695874872

In [ ]:
#Effective Tax Rate
effective_tax_rate = inc_stat_df.loc['Tax Provision'].astype(int)
avg_effective_tax_rate = sum(effective_tax_rate)/len(effective_tax_rate)
avg_effective_tax_rate

13497000.0

Estimating Capital Structure

In [ ]:
#Extracting the caompany's market cap from Alpha Wave Data Stock Analysis API
#Market Value of Equity
market_cap_str = key_stats_df.loc[r'Market cap (intra-day)'][0]

market_cap_lst = market_cap_str.split('.')
if market_cap_str[len(market_cap_str)-1] == 'T':
  market_cap_length = len(market_cap_str)-1
  market_cap_lst[1] = market_cap_lst[1].replace('T', (9-market_cap_length)*'0')
  market_cap_int = int(''.join(market_cap_lst))
if market_cap_str[len(market_cap_str)-1] == 'B':
  market_cap_length = len(market_cap_str)-1
  market_cap_lst[1] = market_cap_lst[1].replace('B', (6-market_cap_length)*'0')
  market_cap_int = int(''.join(market_cap_lst))
  

market_cap_int

26200000

In [ ]:
#Calculating Book To Value of Company Using Alpha Wave Data API Financial Statements Balance Sheet
net_debt = balance_sheet_df.loc['Net Debt']
net_debt_df = net_debt.to_frame().transpose()
net_debt_str = net_debt_df.values[0][-1:]
net_debt_int = int(net_debt_str)
net_debt_int

96423000

In [ ]:
#Company value is sum of equity and debt market values
#Company Value
company_value = market_cap_int + net_debt_int
company_value

122623000

In [ ]:
##Calculating firm's WACC
wacc = ((market_cap_int/company_value)*equity_return) \
        + ((net_debt_int/company_value)*(debt_return*(1-avg_effective_tax_rate)))

wacc

-259076.5314731937

Stock Valuation

In [ ]:
# Equity Value Calculation
discounted_fcff_lst = []
for year in range(0,5):
    discounted_fcff = forecast_fcff_df.iloc[0,year]/(1+wacc)**(year+1)
    discounted_fcff_lst.append(int(discounted_fcff))
terminal_value = forecast_fcff_df.iloc[0,5]/(wacc-long_term_growth)
PV_terminal_value = int(terminal_value/(1+wacc)**5)
enterprise_value = sum(discounted_fcff_lst)+PV_terminal_value
equity_value = enterprise_value-net_debt_int
equity_value

-96423538

In [ ]:
# Total Shares Outstanding
shares_outstanding_str = key_stats_df.loc[r'Shares outstanding '][0]

shares_outstanding_lst = shares_outstanding_str.split('.')
if shares_outstanding_str[len(shares_outstanding_str)-1] == 'T':
    shares_outstanding_length = len(shares_outstanding_lst[1])-1
    shares_outstanding_lst[1] = shares_outstanding_lst[1].replace('T',(9-shares_outstanding_length)*'0')
    shares_outstanding_int = int(''.join(shares_outstanding_lst))
if shares_outstanding_str[len(shares_outstanding_str)-1] == 'B':
    shares_outstanding_length = len(shares_outstanding_lst[1])-1
    shares_outstanding_lst[1] = shares_outstanding_lst[1].replace('B',(6-shares_outstanding_length)*'0')
    shares_outstanding_int = int(''.join(shares_outstanding_lst))

shares_outstanding_int

15730000

In [ ]:
# Two-stage FCFF Valuation Model Stock Price Estimate
stock_price = equity_value / shares_outstanding_int
stock_price = '${:,.2f}'.format(stock_price)
print("Model Stock Price = %s"%(stock_price))

# Actual Stock Price
actual_stock_price = market_cap_int / shares_outstanding_int
actual_stock_price = '${:,.2f}'.format(actual_stock_price)
print("Actual Stock Price = %s"%(actual_stock_price))

Model Stock Price = $-6.13
Actual Stock Price = $1.67